.home-section {
  display: flex;
  padding: 120px 0;
}

.home-text,
.home-img {
  width: 50%;
  padding: 15px;
}

.home-img .img-box {
  max-width: 360px;
  background-color: var(--white-alpha-25);
  border-radius: 50%;
  border: 8px solid var(--white-alpha-25);
  margin: auto;
}
