.home-section {
  display: flex;
  padding: 120px 0;
}

.home-text,
.home-img {
  width: 50%;
  padding: 15px;
}

.home-text p {
  font-size: 18px;
}
.home-text h1 {
  font-size: 50px;
  text-transform: capitalize;
}
.home-text h2 {
  font-size: 20px;
  font-weight: 300;
  margin: 0 0 30px;
}
.home-text .btn {
  margin: 0 15px 15px 0;
}

.home-img .img-box {
  max-width: 360px;
  background-color: var(--white-alpha-25);
  border-radius: 50%;
  border: 8px solid var(--white-alpha-25);
  margin: auto;
}
